h1 { 
    color: #42e680; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 26px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}


h2 { 
    color: #298000; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 20px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 72px; 
    text-align: center; 
}