
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div class ="container">
  <h2>User Data</h2>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" novalidate>
      <div class="form-group">
        <label>First Name</label>
        <input type="text" #nameRef required class="form-control" name="name" ngModel>
        <b>{{nameRef.className}}</b>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="lname" [(ngModel)]="myName">
        <p>{{myName}}</p>
      </div>
      <div class="form-group">
        <label>Email ID</label>
        <input type="text" class="form-control" name="email" ngModel>
      </div>
      <div ngModelGroup="address">
        <div class="form-group">
          <label>Street</label>
          <input type="text" #streetRef="ngModel" required class="form-control" name="street" ngModel>
          <div [hidden]="streetRef.valid || streetRef.pristine" class="alert alert-danger">
            Please enter a street
          </div>
        </div>
        <div class="form-group">
          <label>City</label>
          <input type="text" #cityRef="ngModel" minlength="4" required class="form-control" name="city" ngModel>
          <div *ngIf="cityRef.errors && (cityRef.dirty || cityRef.touched)" class="alert alert-danger">
            <div [hidden]="!cityRef.errors.required">
                Please enter a city
              </div>
              <div [hidden]="!cityRef.errors.minlength">
                Please enter atleast 4 characters
              </div>
          </div>
        </div>
        <div class="form-group">
          <label>postalCode</label>
          <input type="text" #refPincode="ngModel" pattern="^[1-9][0-9]{4}$" 
                class="form-control" name="postalcode" ngModel>
                
          <div *ngIf="refPincode.errors && (refPincode.dirty || refPincode.touched)"
           class="alert alert-danger">
              <div [hidden]="!refPincode.errors.pattern">
                  Please enter a valid pincode
                </div>
            </div>
        </div>
      </div>
      <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-primary">Submit</button>
    </form>
  </div>

